.adminContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #3b82f6;
    font-size: 4rem;
    align-items: center;
    height: 50%;
    font-family: var(--font-ubuntu-mono);
}

.button {
    color: white;
    background-color: #3b82f6;
    border-style: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 2rem 1rem;
    cursor: pointer;
    font-family: var(--font-ubuntu-mono);
}

.button:disabled {
    background-color: #9ca3af;
    cursor: default;

}

.copied {
    position: fixed;
    bottom: 0%;
    color: #84cc16;
    font-size: 1rem;
}